<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Hey Welcome to URL Shortner</h1>
    <% if(locals.id) { %>
        <p>Short ID: <%= id %></p>
    <% } %>
    <div>
        <form method="POST" action="/url">
            <label>Enter Your Original URL:</label>
            <input type="text" placeholder="https://example.com" name="url"/>
            <button type="submit">Generate</button>
        </form>
    </div>

</body>
</html>